<section class="about-section">
<div class="about-container container">
    <h2 id="about-us" class="about-name">About <span class="us-name">Us</span></h2>
    <div class="about-us-main">
    <picture>
        <source class="about-photo" media=" (min-width: 1280px) " srcset="../img/desktop-about-us@1x.jpg 1x, ../img/desktop-about-us@2x.jpg 2x">
        <source class="about-photo" media=" (min-width: 768px) " srcset="../img/tablet-about-us@1x.jpg 1x, ../img/tablet-about-us@2x.jpg 2x">
        <source class="about-photo" media=" (max-width: 767.98px) " srcset="../img/mobile-about-us@1x.jpg 1x, ../img/mobile-about-us@2x.jpg 2x">
        <img class="about-photo" src="../img/tablet-about-us@1x.jpg" alt="camera" loading="lazy">
    </picture>
    <div class="about-text-container">
        <p class="about-text">Our photography school is designed to teach you everything you need to know about this
            magical
            art. Regardless of your
            experience or skill level, we offer a wide range of courses to suit your needs and interests. Our teaching
            team
            consists
            of experienced photographers who have many years of experience in this field. They strive not only to share
            their
            knowledge, but also to inspire you to develop and express your unique creativity.</p>
        <p class="about-text">
            Our courses cover a wide range of topics, from the basics of photography and equipment use to professional
            image
            processing and creating impressive compositions. You will have the opportunity to learn the technical
            aspects of
            photography, discover your own style and develop your own visual language.
        </p>
    </div>
    </div>
</div>    
</section>
