<section class="advertisement" >
    <div class="advertisement-part">
        <div class="adver-text">
            <p class="adver-moving-text">
                <span class="highlighter">Master</span> your photography <span class="highlighter">skills with us!</span>
            </p>
            <p class="adver-moving-text">
                <span class="highlighter">Master</span> your photography <span class="highlighter">skills with us!</span>
            </p>
        </div>       
    </div>
</section>
