<footer class="foot-section">
  <div class="foot-container container">
    <div class="foot-top">
      <div class="foot-address-container">
        <a class="foot-logo" href="./index.html">
          <svg class="foot-logo-icon" width="123" height="16">
            <use href="./img/icons.svg#icon-logo"></use>
          </svg>
        </a>
        <address class="foot-address">
          <a class="foot-tel link" href="tel:+380665438912">UK: +38 066 543 8912</a>
          <p>Ukraine, Kyiv</p>
        </address>
      </div>
      <div class="foot-nav-container">
        <nav class="foot-nav">
          <ul class="foot-social-list list">
            <li>
              <a class="foot-social-link link" href="https://www.instagram.com/goitclub/" target="_blank">Instagram</a>
            </li>
            <li>
              <a class="foot-social-link link" href="https://www.facebook.com/goITclub/" target="_blank">Facebook</a>
            </li>
            <li>
              <a class="foot-social-link link" href="https://www.youtube.com/c/GoIT" target="_blank">YouTube</a>
            </li>
          </ul>
          <ul class="foot-nav-list list">
            <li>
              <a class="foot-nav-link link" href="#about-us" target="_self">About us</a>
            </li>
            <li>
              <a class="foot-nav-link link" href="#our-courses" target="_self">Our courses</a>
            </li>
            <li>
              <a class="foot-nav-link link" href="#our-mentors" target="_self">Our mentors</a>
            </li>
            <li>
              <a class="foot-nav-link link" href="#reviews" target="_self">Reviews</a>
            </li>
            <li>
              <a class="foot-nav-link link" href="#contacts" target="_self">Contacts</a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="foot-form-container">
        <form class="foot-form" name="footer_form">
          <label class="foot-form-label">
            <input class="foot-form-input" type="email" name="footer_email" placeholder="Enter your email"
              pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$" required autocomplete="email" />
          </label>
          <button class="foot-btn" type="submit">Go</button>
        </form>
      </div>
    </div>

    <div class="foot-bottom">
      <p class="foot-privasy">Privacy Policy Public Offering Agreement</p>
      <p class="foot-copyright">2023 Focus Frame &#169;All rights reserved</p>
    </div>
  </div>
</footer>