<section class="hero" id="hero">
    <div class="container">
        <h1 class="hero-header">Discover the magic of <span class="hero-header-span">photography</span> in our school
        </h1>
        <p class="hero-text">
            Our photography school offers an unforgettable journey, where you can learn the basics of
            composition, master technical
            skills, translate your unique ideas.
        </p>
        <div class="hero-review-box">

            <div class="hero-ourstudents">
                <div class="hero-ourstudents-avatar">
                    <img class="hero-avatar-img hero-avatar-one" src="./img/hero-girl1@1x.png"
                        srcset="./img/hero-girl1@1x.png 1x, ./img/hero-girl1@2x.png 2x" alt="Student 1" loading="lazy">
                    <img class="hero-avatar-img hero-avatar-two" src="./img/hero-boy1@1x.png"
                        srcset="./img/hero-boy1@1x.png 1x, ./img/hero-boy1@2x.png 2x" alt="Student 2" loading="lazy">
                    <img class="hero-avatar-img hero-avatar-three" src="./img/hero-girl2@1x.png"
                        srcset="./img/hero-girl2@1x.png 1x, ./img/hero-girl2@2x.png 2x" alt="Student 3" loading="lazy">
                </div>
                <a href="#reviews" class="hero-ourstudents-link">
                    <p class="hero-ourstudents-text">Our happy students</p>
                    <svg class="hero-arrow-icon" width="18" height="8.66">
                        <use href="./img/icons.svg#icon-hero-arrow"></use>
                    </svg>
                </a>
            </div>
            <div class="hero-reviews">
                <span class="hero-star-circle">
                    <svg class="hero-star-icon" width="20" height="20">
                        <use href="./img/icons.svg#icon-star"></use>
                    </svg>
                </span>
                <div class="hero-reviews-text-box">
                    <p class="hero-reviews-header">Reviews</p>
                    <p class="hero-reviews-text">+1500</p>
                </div>
            </div>
        </div>
        <picture class="hero-img">
            <source srcset="./img/desktop-hero-img@1x.png 1x, ./img/desktop-herp-img@2x.png 2x" width="397" height="520"
                media="(min-width: 1280px)" />
            <source srcset="./img/tablet-hero-img@1x.png 1x, ./img/tablet-hero-img@2x.png 2x" width="393" height="434"
                media="(min-width: 768px)" />
            <source srcset="./img/mobile-hero-img@1x.png 1x, ./img/mobile-hero-img@2x.png 2x" width="259" height="314"
                media="(max-width: 767px)" />
            <img src="./img/desktop-hero-img@1x.png" alt="Photographer" loading="lazy" />
        </picture>
    </div>
</section>