<section id="our-mentors" class="our-mentors-team">
  <div class="container container-tittle">
    <h2 class="our-mentors-mini-title">
      Our<span class="our-mentors-mentors">Mentors</span>
    </h2>
    <ul class="list our-mentors-list-four">
      <li class="our-mentors-mini-list">
        <img
          class="our-mentors-team-image"
          srcset="./img/mentor-girl1@1x.png 1x, ./img/mentor-girl1@2x.png 2x"
          src="./img/mentor-girl1@1x.png"
          alt="photo girl-1"
          width="180"
          height="180"
        />
        <div class="our-mentors-team-container">
          <h3 class="our-mentors-our-people">Emilia Smith</h3>
          <p class="our-mentors-hwo-they">1.5 years of experience</p>
        </div>
      </li>
      <li class="our-mentors-mini-list">
        <img
          class="our-mentors-team-image"
          srcset="./img/mentor-boy1@1x.png 1x, ./img/mentor-boy1@2x.png 2x"
          src="./img/mentor-boy1@1x.png"
          alt="photo boy-1"
          width="180"
          height="180"
        />
        <div class="our-mentors-team-container">
          <h3 class="our-mentors-our-people">Alex Lebedev</h3>
          <p class="our-mentors-hwo-they">3.5 years of experience</p>
        </div>
      </li>
      <li class="our-mentors-mini-list">
        <img
          class="our-mentors-team-image"
          srcset="./img/mentor-girl2@1x.png 1x, ./img/mentor-girl2@2x.png 2x"
          src="./img/mentor-girl2@1x.png"
          alt="photo girl-2"
          width="180"
          height="180"
        />
        <div class="our-mentors-team-container">
          <h3 class="our-mentors-our-people">Mia Dubrovska</h3>
          <p class="our-mentors-hwo-they">2.0 years of experience</p>
        </div>
      </li>
      <li class="our-mentors-mini-list">
        <img
          class="our-mentors-team-image"
          srcset="./img/mentor-boy2@1x.png 1x, ./img/mentor-boy2@2x.png 2x"
          src="./img/mentor-boy2@1x.png"
          alt="photo boy-2"
          width="180"
          height="180"
        />
        <div class="our-mentors-team-container">
          <h3 class="our-mentors-our-people">Eliot Kovalev</h3>
          <p class="our-mentors-hwo-they">4.0 years of experience</p>
        </div>
      </li>
    </ul>
  </div>
</section>
