  <section class="our-courses-section">
      <div class="our-courses-block">
        <a class="header-our-courses" href="./our-courses.html" target="_blank"
          >Our <span class="part_header-our-courses">Courses</span></a>
        <p class="text-our-courses-block">
          At our photography school, we offer a variety of courses that cover
          all aspects of this fascinating art. Regardless of your experience or
          skill level, we have courses to suit your needs and goals.
        </p>
      </div>

      <div class="our-courses-cards-general">
        <div class="our-courses-card">
          <div class="header-upper-courses-card">
            <div class="header-our-courses-card">
              <p class="text-header-our-courses-card">01</p>
              <div class="icon-vector-our-courses">
                <svg
                  class="icon-vector-our-courses-arrow"
                  width="32"
                  height="32"
                >
                  <use href="../img/icons.svg#icon-vector-2"></use>
                </svg>
              </div>
            </div>
            <p class="basic-our-courses-card">Basics of photography</p>
          </div>
          <p class="additional-our-courses-card">
            During this course, you will be able to familiarize yourself with
            different types of cameras, learn the basics of composition.
          </p>
        </div>

        <div class="our-courses-card">
          <div class="header-upper-courses-card">
            <div class="header-our-courses-card">
              <p class="text-header-our-courses-card">02</p>
              <div class="icon-vector-our-courses">
                <svg
                  class="icon-vector-our-courses-arrow"
                  width="32"
                  height="32"
                >
                  <use href="../img/icons.svg#icon-vector-2"></use>
                </svg>
              </div>
            </div>
            <p class="basic-our-courses-card">Landscape photography</p>
          </div>
          <p class="additional-our-courses-card">
            In this course, you'll learn how to choose the right angles, frame
            landscapes, and create depth and perspective in your images.
          </p>
        </div>

        <div class="our-courses-card">
          <div class="header-upper-courses-card">
            <div class="header-our-courses-card">
              <p class="text-header-our-courses-card">03</p>
              <div class="icon-vector-our-courses">
                <svg
                  class="icon-vector-our-courses-arrow"
                  width="32"
                  height="32"
                >
                  <use href="../img/icons.svg#icon-vector-2"></use>
                </svg>
              </div>
            </div>
            <p class="basic-our-courses-card">Portrait photography</p>
          </div>
          <p class="additional-our-courses-card">
            During this course, you will learn to choose the right lighting,
            reproduce the mood and expressions on the faces of the models.
          </p>
        </div>
      </div>
    </section>
