<section class="our-courses-section">
  <div class="container">
<h2 class="our-course-title">Our <span class="our-courses-span">Courses</span> </h2>
<p class="text-our-courses-block">At our photography school, we offer a variety of courses that cover all
  aspects of this fascinating art. Regardless of your experience or skill
  level, we have courses to suit your needs and goals.</p>
  <ul class="our-courses-cards-general">
    <li class="our-courses-card">
      <div class="header-our-courses-card">
        <p>01</p>
        <svg width="18" height="18">
          <use href="../img/icons.svg#icon-vector-2"></use>
        </svg>
      </div>
      <p class="basic-our-courses-card">Basics of photography</p>
      <p class="additional-our-courses-card">
        During this course, you will be able to familiarize yourself with
        different types of cameras, learn the basics of composition.
      </p>
    </div>
    </li>
    <li class="our-courses-card">
      <div class="header-our-courses-card">
        <p>02</p>
        <svg width="18" height="18">
          <use href="../img/icons.svg#icon-vector-2"></use>
        </svg>
      </div>
      <p class="basic-our-courses-card">Landscape photography</p>
      <p class="additional-our-courses-card">
        In this course, you'll learn how to choose the right angles, frame
        landscapes, and create depth and perspective in your images.
      </p>
    </div>
    </li>
    <li class="our-courses-card">
      <div class="header-our-courses-card">
        <p>03</p>
        <svg width="18" height="18">
          <use href="../img/icons.svg#icon-vector-2"></use>
        </svg>
      </div>
      <p class="basic-our-courses-card">Portrait photography</p>
      <p class="additional-our-courses-card">
        During this course, you will learn to choose the right lighting,
        reproduce the mood and expressions on the faces of the models.
      </p>
    </div>
    </li>
  </ul>
  </div>
</section>




 
