<section class="our-courses-section" id="our-courses">
  <div class="container">
    <div class="our-courses-top">
      <h2 class="our-courses-title">
        Our <span class="our-courses-span">Courses</span>
      </h2>
      <p class="our-courses-text">
        At our photography school, we offer a variety of courses that cover all
        aspects of this fascinating art. Regardless of your experience or skill
        level, we have courses to suit your needs and goals.
      </p>
    </div>
    <ol class="our-courses-list">
      <li class="our-courses-point">
        <div class="our-courses-caard-container">
          <p class="our-courses-card-number">01</p>
        <a href="#sign-up" class="our-courses-card-link">
          <svg class="our-courses-card-icon" width="20" height="20">
            <use href="./img/icons.svg#icon-our-courses-arrow"></use>
          </svg>
        </a>
        </div>
        <h2 class="our-courses-card-title">Basics of photography</h2>
        <p class="our-courses-card-paragraph">
          During this course, you will be able to familiarize yourself with
          different types of cameras, learn the basics of composition.
        </p>
      </li>
      <li class="our-courses-point">
        <div class="our-courses-caard-container">
          <p class="our-courses-card-number">02</p>
        <a href="#sign-up" class="our-courses-card-link">
          <svg class="our-courses-card-icon" width="20" height="20">
            <use href="./img/icons.svg#icon-our-courses-arrow"></use>
          </svg>
        </a>
        </div>
        <h2 class="our-courses-card-title">Portrait photography</h2>
        <p class="our-courses-card-paragraph">
          In this course, you'll learn how to choose the right angles, frame
          landscapes, and create depth and perspective in your images.
        </p>
      </li>
      <li class="our-courses-point">
        <div class="our-courses-caard-container">
          <p class="our-courses-card-number">03</p>
        <a href="#sign-up" class="our-courses-card-link">
          <svg class="our-courses-card-icon" width="20" height="20">
            <use href="./img/icons.svg#icon-our-courses-arrow"></use>
          </svg>
        </a>
        </div>
        <h2 class="our-courses-card-title">Basics of photography</h2>
        <p class="our-courses-card-paragraph">
          During this course, you will learn to choose the right lighting,
          reproduce the mood and expressions on the faces of the models.
        </p>
      </li>
    </ol>
  </div>
</section>
