<section id="sign-up" class="sign-up-section">
  <div class="container sign-up-container">
    <div class="sign-up-form-container">
      <h2 class="sign-up-title">
        Sign <span class="sign-up-title-span">Up</span>
      </h2>
      <p class="sign-up-p">
        Please use the form below to contact us. Enter your name, email, and
        message and we'll get back to you shortly.
      </p>
      <form class="sign-up-form">
        <input
          class="sign-up-input"
          type="text"
          placeholder="Enter your name"
          pattern="^[A-Za-z]{3,}$"
          title="The name should consist of no less than 3 letters Of English alphabet"
        />
        <input
          class="sign-up-input"
          type="email"
          placeholder="Enter your email"
          pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
          title="Enter relevant email address, please"
        />
        <textarea
          class="sign-up-textarea"
          name="user-message"
          placeholder="Message"
        ></textarea>

        <button class="sign-up-btn" type="submit">Send</button>
      </form>
      <p class="sign-up-last-p">
        By clicking on "Send" button, you agree to our
        <span class="sign-up-p-span">Privacy Policy</span>, and allow Promodo to
        use this information for marketing purposes.
      </p>
    </div>
    <div class="sign-up-photos-container">
      <div class="sign-up-oval-one">
        <img
          class="sign-up-lens"
          srcset="./img/signup-lens@1x.png 1x, ./img/signup-lens@2x.png 2x"
          src="./img/signup-lens@1x.png"
          alt="Camera lens"
          width="150"
        />
      </div>
      <div class="sign-up-oval-two">
        <img
          class="sign-up-camera"
          srcset="./img/signup-camera@1x.png 1x, ./img/signup-camera@2x.png 2x"
          src="./img/signup-camera@1x.png"
          alt="Photocamera"
          width="240"
        />
      </div>
    </div>
  </div>
</section>
