.foot-section {

}

.foot-container {
    padding: 40px 20px;
    color: var(--primary-white-color);
}

.foot-address-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
}

.foot-logo {
    display: flex;
    margin-bottom: 20px;
}

.foot-address {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    font-size: 14px;
    font-style: normal;
    line-height: 1.28;
   
}

.foot-tel {
    font-size: 14px;
    text-transform: uppercase;
}
.foot-nav-container {
    display: flex;
    /* ??? */
}

.foot-nav {
    text-transform: uppercase;
}

.foot-social-list {}

.foot-social-link {}

.foot-nav-list {}

.foot-nav-link {}

.foot-form-container {}

.foot-form {}

.foot-form-ladel {}

.foot-form-input {}

.foot-bottom {}

.foot-privasy {}

.foot-copyright {}