.hero {
  padding-bottom: 80px;
}
.hero .container {
  min-width: 280px;
  max-width: 335px;
  height: 777px;

  padding-top: 40px;

  border-radius: 30px;
  background-color: var(--secondary-black-color);

  position: relative;
}
@media only screen and (min-width: 768px) {
  .hero .container {
    padding-top: 64px;

    max-width: 704px;
    height: 900px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero .container {
    padding-left: 50px;
    padding-right: 50px;
    padding-top: 80px;

    max-width: 1080px;
    height: 600px;
  }
}

.hero-header {
  color: var(--primary-white-color);
  font-size: 40px;
  font-weight: 500;
  line-height: 1.1;
  /* letter-spacing: -0.04em; */
  min-width: 295px;
  margin-bottom: 20px;
}
@media only screen and (min-width: 768px) {
  .hero-header {
    font-size: 60px;
    line-height: 1.07;
    max-width: 517px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-header {
    font-size: 64px;
    max-width: 563px;
  }
}

.hero-header-span {
  color: var(--brown-color);
  font-style: italic;
  font-weight: 400;
}
.hero-text {
  color: var(--primary-white-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  max-width: 295px;

  margin-bottom: 40px;
}
@media only screen and (min-width: 768px) {
  .hero-text {
    max-width: 418px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-text {
    margin-bottom: 135px;
  }
}

.hero-review-box {
  display: inline-flex;
  gap: 40px;
}
@media only screen and (max-width: 767.98px) {
  .hero-ourstudents {
    width: 107px;
  }
}
@media only screen and (min-width: 768px) {
  .hero-ourstudents {
    display: inline-flex;
    gap: 12px;
  }
}

.hero-ourstudents-avatar {
  display: inline-flex;
  flex-shrink: 0;
  margin-bottom: 4px;
}
.hero-avatar-img {
  width: 44px;
  height: 44px;
}
@media only screen and (min-width: 768px) {
  .hero-avatar-img {
    width: 54px;
    height: 54px;
  }
}

.hero-avatar-img:not(:last-child) {
  margin-right: -11px;
}
.hero-avatar-img {
  z-index: 3;
}
.hero-avatar-two {
  z-index: 2;
}
.hero-avatar-three {
  z-index: 1;
}
.hero-ourstudents-link {
  display: inline-flex;
  gap: 4px;
  align-items: center;
  scroll-behavior: smooth;
}
@media only screen and (min-width: 768px) {
  .hero-ourstudents-link {
    flex-direction: column;
    gap: 8px;
    align-items: flex-start;
  }
}

.hero-ourstudents-text {
  color: var(--primary-white-color);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.04em;
  max-width: 67px;
}
@media only screen and (min-width: 78px) {
  .hero-ourstudents-text {
    font-size: 16px;
    line-height: 1.25;
    max-width: 82px;
  }
}

.hero-reviews {
  display: inline-flex;
  gap: 12px;
}
.hero-star-circle {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 100px;
  background-color: var(--brown-color);
}
@media only screen and (min-width: 768px) {
  .hero-star-circle {
    width: 50px;
    height: 50px;
  }
}

.hero-star-icon {
  stroke: var(--primary-black-color);
}

.hero-reviews-header {
  color: rgba(255, 255, 255, 0.5);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.04em;
  margin-bottom: 4px;
}
@media only screen and (min-width: 768px) {
  .hero-reviews-header {
    font-size: 16px;
    line-height: 1.25;

    margin-bottom: 8px;
  }
}

.hero-reviews-text {
  color: var(--primary-white-color);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.13;
  letter-spacing: -0.04em;
}
@media only screen and (min-width: 768px) {
  .hero-reviews-text {
    line-height: 1.25;
  }
}

.hero-img {
  position: absolute;
  bottom: 0;

  min-width: 259px;
}
@media only screen and (max-width: 1279.98px) {
  .hero-img {
    left: 50%;
    transform: translateX(-50%);
  }
}
@media only screen and (min-width: 768px) {
  .hero-img {
    min-width: 393px;
  }
}
@media only screen and (min-width: 1280px) {
  .hero-img {
    min-width: 397px;
    right: 50px;
  }
}
