.sign-up-title {
  font-size: 28px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.04em;
  color: var(--primary-white-color);
  margin-bottom: 20px;
}

.sign-up-title-span {
  color: var(--brown-color);
}

.sign-up-p {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: var(--primary-white-color);
  margin-bottom: 42px;
}

/* form styles */

.sign-up-input {
  min-width: 335px;
  height: 46px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: var(--primary-white-color);
  background-color: transparent;
  margin-bottom: 8px;
  padding-left: 18px;
}

.sign-up-input::placeholder {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  color: var(--primary-white-color);
  opacity: 0.7;
}

.sign-up-input:focus {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.sign-up-textarea {
  min-width: 335px;
  height: 112px;
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  resize: none;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.25;
  color: var(--primary-white-color);
  background-color: transparent;
  padding-left: 18px;
  margin-bottom: 40px;
  position: relative;
}

.sign-up-textarea::placeholder {
  position: absolute;
  top: 15px;
  left: 18px;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.25;
  color: var(--primary-white-color);
  opacity: 0.7;
}

.sign-up-textarea:focus {
  border: 1px solid rgba(255, 255, 255, 0.5);
}

.sign-up-btn {
  font-family: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 1.25;
  text-transform: uppercase;
  cursor: pointer;
  display: inline-flex;
  min-width: 335px;
  padding: 14px 127px;
  justify-content: center;
  align-items: center;
  border-radius: 12px;
  background: var(--primary-white-color);
  border: none;
  margin-bottom: 20px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sign-up-btn:hover,
.sign-up-btn:focus {
  color: var(--brown-color);
  background-color: var(--secondary-black-color);
}

.sign-up-last-p {
  font-size: 12px;
  font-weight: 400;
  line-height: 1.3;
  color: rgba(255, 255, 255, 0.5);
}

.sign-up-p-span {
  text-decoration: underline;
}

/* Photos container */

/**
  |============================
  | MEDIA
  |============================
*/

@media screen and (max-width: 375px) {
  .sign-up-input {
    width: 100%;
  }
  .sign-up-textarea {
    width: 100%;
  }
  .sign-up-btn {
    width: 100%;
  }
}

@media screen and (max-width: 1280px) {
  .sign-up-photos-container {
    display: none;
  }
}

/* Media for tablet */

@media screen and (min-width: 768px) {
  .sign-up-form-container {
    margin-right: 256px;
  }

  .sign-up-title {
    font-size: 48px;
    line-height: 1.125;
    letter-spacing: -0.04em;
  }

  .sign-up-p {
    font-size: 16px;
    line-height: 1.25;
    letter-spacing: -0.02em;
    min-width: 480px;
  }

  .sign-up-input {
    min-width: 480px;
    height: 60px;
    margin-bottom: 14px;
  }

  .sign-up-input::placeholder {
    font-size: 16px;
    line-height: 1.25;
  }

  .sign-up-textarea {
    min-width: 480px;
    height: 120px;
  }

  .sign-up-textarea::placeholder {
    font-size: 16px;
    line-height: 1.25;
  }

  .sign-up-btn {
    padding: 16px 216px;
    min-width: 480px;
  }

  .sign-up-last-p {
    font-size: 14px;
    line-height: 1.3;
  }
}
