:root {
    --primary-black-color:#121212;
    --secondary-black-color:#1D1D1D;
    --primary-white-color:#FFF;
    --linear-gradient:linear-gradient(180deg, #060707 0%, #1D1D1D 100%);
    --brown-color:#BEA69E;
   }